/* ===========================
   CSS Variables
=========================== */

:root {
  /* Primary Theme */
  --primary: #8b5cf6;
  --primary-light: #a855f7;
  --secondary: #ec4899;

  /* Dark Theme */
  --bg: #000000;
  --surface: #141423;
  --card: linear-gradient(
    120deg,
    #25252b 0%,
    #111116 25%,
    #0a0810 60%,
    #1d0b2d 100%
  );
  --border: #2a2a42;
  --skill-dark-icon: #ffffff;

  --card-skill: #15151b;
  --card-hover: #1b1b23;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #b8b8c7;

  /* Effects */
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  --radius: 18px;
  --transition: 0.3s ease;

  /* Layout */
  --container: 1280px;
}

/* ===========================
   LIGHT THEME
=========================== */

.light-theme {
  --bg: #f7f7fb;
  --surface: #ffffff;
  --card: linear-gradient(135deg, #ffffff 0%, #fcf9ff 55%, #f6e8ff 100%);
  --card-skill: linear-gradient(135deg, #ffffff 0%, #fcf9ff 55%, #f6e8ff 100%);
  --card-hover: #d9b4fe;
  --border: #e5e7eb;

  --text-primary: #111827;
  --text-secondary: #3f4350;
  --skill-icon-color: #111827;

  --skill-icon-dark: #111827;
  --shadow: 0 10px 30px rgba(17, 24, 39, 0.08);
}
