.custom-btn {
  padding: 14px 32px;

  border-radius: 50px;

  background: linear-gradient(90deg, var(--primary), var(--secondary));

  color: white;

  font-weight: 600;

  transition: var(--transition);
}

.custom-btn:hover {
  transform: translateY(-4px);

  box-shadow: 0 15px 40px rgba(168, 85, 247, 0.35);
}
