@import "./variables.css";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
  transition: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: min(90%, var(--container));

  margin: auto;
}

section {
  padding: 100px 0;
}
